<div class="spinner" *ngIf="rotateSpinner; else contactForm">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-template #contactForm>
    <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input [(ngModel)] = "data.firstName" matInput />
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input [(ngModel)] = "data.lastName" matInput />
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input [(ngModel)] = "data.emailAddress" matInput />
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <textarea [(ngModel)] = "data.address" matInput cdkTextareaAutosize></textarea>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input [(ngModel)]="data.phoneNumber" matInput />
    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="editContact()">SAVE</button>
    <button mat-raised-button (click)="exitDialog()">CANCEL</button>
</ng-template>

