table {
    width: 100%;
}

.mat-column-actions {
    text-align: right;
}

.mat-fab-add {
    position: absolute;
    right: 35px;
    top: 35px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
